@import './app/fonts/roboto/Roboto-Regular.ttf';

$header-color: #455C73;
$button-color: #fff;
$button-border: #00aced;
$button-background: #1dcaff;

.container {
  text-align: center;
  .header {
    color: $header-color;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 3em;
    border-bottom: 4px solid $header-color;
    padding-bottom: 0.5em;
  }
  .gulp-img {
    margin-bottom: 2em;
  }
  #test-button {
    padding: 1em 2em;
    color: $button-color;
    background-color: $button-background;
    border: $button-border;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 1em;
    &:hover {
      background-color: $button-border;
    }
  }
}
